RWA RWG RWB
MNT MNG MNB
PQ PQG PQB
SRA SRG SRB
ZNS ZNG ZNB
WV WVG WVB
RT RTG RTB

-RWB -RWA
-RWG -RWA

-MNB -MNT
-MNG -MNT

-PQB -PQ
-PQG -PQ

-SRB -SRA
-SRG -SRA

-ZNB -ZNS
-ZNG -ZNS

-WVB -WV
-WVG -WV

-RTB -RT
-RTG -RT

-RWA -RWB
-RWG -RWB

-MNT -MNB
-MNG -MNB

-PQ -PQB
-PQG -PQB

-SRA -SRB
-SRG -SRB

-ZNS -ZNB
-ZNG -ZNB

-WV -WVB
-WVG -WVB

-RT -RTB
-RTG -RTB

-RWA -RWG
-RWB -RWG

-MNT -MNG
-MNB -MNG

-PQ -PQG
-PQB -PQG

-SRA -SRG
-SRB -SRG

-ZNS -ZNG
-ZNB -ZNG

-WV -WVG
-WVB -WVG

-RT -RTG
-RTB -RTG

-MNT -RWA
-MNG -RWG
-MNB -RWB

-SRA -RWA
-SRG -RWG
-SRB -RWB

-ZNG -WVG
-ZNS -WV
-ZNB -WVB

-SRA -WV
-SRB -WVB
-SRG -WVG

-SRA -MNT
-SRG -MNG
-SRB -MNB

-PQ -MNT
-PQG -MNG
-PQB -MNB

-PQ -ZNS
-PQG -ZNG
-PQB -ZNB

-SRA -ZNS
-SRG -ZNG
-SRB -ZNB

-SRA -PQ
-SRG -PQG
-SRB -PQB