-C1W -L1W
-C2W -L2W
-C3W -L3W
-C1B -L1B
-C2B -L2B
-C3B -L3B
-C1Y -L1Y
-C2Y -L2Y
-C3Y -L3Y

-L1B -L1W
-L1Y -L1W
-L1Y -L1B
-L1W -L1B
-L1W -L1Y
-L1B -L1Y

-L2B -L2W
-L2Y -L2W
-L2Y -L2B
-L2W -L2B
-L2W -L2Y
-L2B -L2Y

-L3B -L3W
-L3Y -L3W
-L3Y -L3B
-L3W -L3B
-L3W -L3Y
-L3B -L3Y

-C1Y -O1W
-C2Y -O2W
-C3Y -O3W

-C1W -O1Y
-C2W -O2Y
-C3W -O3Y

-C1B -C1W
-C1Y -C1W
-C2B -C2W
-C2Y -C2W
-C3B -C3W
-C3Y -C3W

-C1B -C1Y
-C1W -C1Y
-C2B -C2Y
-C2W -C2Y
-C3B -C3Y
-C3W -C3Y

-C1W -C1B
-C1W -C1Y
-C2W -C2B
-C2W -C2Y
-C3W -C3B
-C3W -C3Y

-C2Y -C1Y
-C3Y -C1Y
-C1Y -C2Y
-C3Y -C2Y
-C2Y -C3Y
-C1Y -C3Y

-C2W -C1W
-C3W -C1W
-C1W -C2W
-C3W -C2W
-C2W -C3W
-C1W -C3W

-C2B -C1B
-C3B -C1B
-C1B -C2B
-C3B -C2B
-C2B -C3B
-C1B -C3B

C1B C1W C1Y
C2B C2W C2Y
C3B C3W C3Y

L1B L1W L1Y
L2B L2W L2Y
L3B L3W L3Y

-L2W -L1W
-L3W -L1W
-L2Y -L1Y
-L3Y -L1Y
-L2B -L1B
-L3B -L1B

-L1W -L2W
-L3W -L2W
-L1Y -L2Y
-L3Y -L2Y
-L1B -L2B
-L3B -L2B

-L1W -L3W
-L1W -L3W
-L1Y -L3Y
-L1Y -L3Y
-L1B -L3B
-L1B -L3B

-O1Y -O1W
-O2Y -O2W
-O3Y -O3W

-O1W -O1Y
-O2W -O2Y
-O3W -O3Y